<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-500 pb-4">
            <img src="/img/black-cart-1.png" class="w-1/6 h-30" alt="cart-pic">
            <h1 class="font-bold ml-4 text-2xl">Order summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza-card.png" alt="Pizza-list">
                <div class="flex-1 ml-4">
                    <h1>Pizza 1</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>
            </div>
        </div>

        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza-card.png" alt="Pizza-list">
                <div class="flex-1 ml-4">
                    <h1>Pizza 1</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>
            </div>
        </div>

        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza-card.png" alt="Pizza-list">
                <div class="flex-1 ml-4">
                    <h1>Pizza 1</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>
            </div>
        </div>
        
        <hr>
        <div class="text-right py-4">

            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2 text-orange-600">₹250</span>
            </div>

            <div>
                <form action="" class="mt-12">
                    <input type="tel" class="border border-gray-400 p-2 w-1/2 mb-4" required placeholder="Phone number" pattern="[0-9]{10}" maxlength="10">
                    <textarea class="border border-gray-400 p-2 w-1/2" required placeholder="Address" minlength="10" maxlength="100"></textarea>
                    <div>
                    <button class="btn-primary px-6 py-2 border rounded-full font-bold mt-6" type="submit">Order</button>
                    </div>
                </form>
            </div>
            <!--
            <a href="" class="inline-block cursor-pointer btn-primary px-6 py-2 border rounded-full font-bold mt-6">Login to continue</a>
            -->
        </div>
    </div>
    

    <!--
    <section class="empty-cart py-10">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Your cart is empty ☹</h1>
            <p class="text-gray-500 text-lg mb-12">
                Haven't ordered any pizza yet? <br> Order now, Go to the menu page!
            </p>
            <img src="/img/empty-cart.png" class="w-2/5 center mx-auto" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-orange-600 border font-bold mt-12">Go back</a>
        </div>
    </section>
-->
</section>